.comp-civ {
    height: 82vh;
    background-color: #D0B385;
    border: solid 5px #8A4F11;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 1fr 4fr 1fr;
    grid-template-areas:
      "comp"
      "comp-civs"
      "stack"
      "stack-civs"
      "button";
    height: 100%;
    align-items: center;
    overflow: auto;
}

.comp-box, .stack-box {
  overflow: scroll;
  background-color: #D0B385;
  border: solid 5px #8A4F11;
  height: 90%;
  margin: 10px;
}

.comp {
  grid-area: comp;
  place-self: center;
}

.comp-box {
  grid-area: comp-civs;
}

.stack {
  grid-area: stack;
  place-self: center;
}

.stack-box {
  grid-area: stack-civs;
}

.fave-button {
  grid-area: button;
  width: 50%;
  height: 60%;
  place-self: center;
  background-color: #CF4A18;
  margin-bottom: 5px;
}

@media only screen and (max-width: 800px) {
  .comp-civ {
    height: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 4fr 1fr;
    grid-template-areas:
      "comp stack"
      "comp-civs stack-civs"
      "button button";
    height: 100%;
    overflow: auto;
  }
}
