.civ-info {
  min-height: 40%;
  border: solid 5px #8A4F11;
  margin: 10px;
  padding: 10px;
}

.target-civ {
  margin: 5px;
}

@media only screen and (max-width: 800px) {
  .civ-info {
    width: 40%;
    min-height: unset;
    height: 100%;
    overflow: scroll;
    border: unset;
  }
}

@media only screen and (max-width: 580px) {
  .civ-info {
    width: 90%;
    overflow: unset;
  }
}
