* {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    "sidebar gallery";
  height: 100%;
}

h3, h2 {
  text-align: center;
}

button {
  font-size: larger;
}

ul {
  margin: 0;
  padding: 20px;
}

.header {
  background-color: #D0B385;
  border: solid 5px #8A4F11;
  height: auto;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  grid-area: header;
  padding-left: 25px;
  z-index: 1;
}

.title-pic {
  height: 50px;
}

.main-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 9vh 82vh 8vh;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100%;
}

.footer {
  background-color: #D0B385;
  border-top: solid 5px #8A4F11;
  grid-area: footer;
  height: auto;
  z-index: 1;
}


.title {
  padding-left: 5%;
}

.info-column {
  display:flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  background-color: #D0B385;
  border: solid 5px #8A4F11;
  grid-area: sidebar;
  top: 75px;
  bottom: 0px;
  height: 82vh;
}

.primaryButton {
  box-sizing: content-box;
  margin: 10px;
  width: 90%;
  height: 100%;
  background-color: #CF4A18;
  font-weight: bold;
}

.gallery-box {
  overflow: scroll;
  background-color: #D0B385;
  border: solid 5px #8A4F11;
}

.favorites {
  height: auto;
  margin: 10px;
  height: 40%;
}

@media only screen and (max-width: 800px) {
  main {
    grid-template-columns: auto;
    grid-template-rows: 1fr 2fr;
    grid-template-areas:
      "sidebar"
      "gallery";
  }
  .header {
    border: unset;
    width: unset;
  }
  .main-page {
    grid-template-areas:
      "header"
      "main"
      "main";
  }
  .footer {
    visibility: hidden;
  }
  .info-column {
    height: auto;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    overflow: hidden;
  }
  .primaryButton {
    width: 90%;
    height: 10vh;
    align-self: center;
  }
  .favorites {
    height: 100%;
    width: 40%;
    align-self: flex-start;
    overflow: scroll;
  }
}

@media only screen and (max-width: 580px) {
  .info-column {
    width: 100%;
    flex-flow: column-reverse;
    height: fit-content;
  }
  .primaryButton {
    width: 90vw;
    height: 5vh;
  }
  .favorites {
    width: 100%;
  }
  .gallery-box {
    overflow:unset;
    border:unset;
  }
}
