* {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}

main {
  grid-area: main;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: auto;
  grid-template-areas:
    "sidebar gallery";
  height: 100%;
}

.header {
  background-color: #D0B385;
  /* background: "url(/icons/paper.jpg)";
  background-size: contain;
  background-position: top;
  background: cover; */
  width: 100%;
  height: 9vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  grid-area: header;
}

.main-page {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 9vh auto 8vh;
  grid-template-areas:
    "header"
    "main"
    "footer";
  height: 100%;
}

.footer {
  background-color: #D0B385;
  grid-area: footer;
  height: 8vh;
}


.title {
  padding-left: 5%;
}

.info-column {
  display:flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  background-color: #D0B385;
  border: solid 5px #8A4F11;
  grid-area: sidebar;
  top: 75px;
  bottom: 0px;
  height: 82vh;
}

.primaryButton {
  box-sizing: content-box;
  margin: 10px;
  width: 90%;
  height: 100%;
  background-color: #CF4A18;
  font-weight: bold;
}

.gallery-box {
  height: 82vh;
}
