.civ-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, 90px);
  grid-gap: 1.25rem;
  grid-template-rows: repeat(auto-fit, 90px);
  height: 82vh;
  overflow-x: scroll;
  background-color: #D0B385;
  border: solid 5px #8A4F11;
}
